.game-container {
  width: 500px;
  height: 740px;
  position: absolute;
}

.sky {
  background-color: lightSkyBlue;
  width: 500px;
  height: 580px;
  position: absolute;
}

.ground {
  background-color: paleGreen;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
}

.pig {
  background-color: pink;
  position: absolute;
  width: 40px;
  height: 25px;
}

.obstacle {
  background-color: green;
  width: 53px;
  height: 300px;
  position: absolute;
}
